/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,h2,h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

.github-corner svg {
    z-index: 1000;
}

.grid {
    -webkit-transition: all .5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.grid-wrapper {
    margin: 10px auto;
    box-shadow: 0px 0px 2px #bbb;
    border: 1px solid #bbb;
}

.control-panel {
    margin: 0 auto;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.control-panel i{
    padding: 10px;
}

.control-panel i:hover{
    background-color: #003b5c;
}

.plane-content-component{
    padding: 10px;
    box-sizing: border-box;
}

.app .rc-slider {
    width: 320px;
    margin: 20px auto;
}

.app .rc-slider-track {
    background-color: #000;
}

.app .rc-slider-handle {
    border: solid 2px #000;
}
